.vs/
IdentityServerSample.IdentityServer.Host/bin
IdentityServerSample.IdentityServer.Host/obj
IdentityServerSample.IdentityServer.Host/wwwroot/lib/

IdentityServerSample.BookingAdminPanel/bin/
IdentityServerSample.BookingAdminPanel/obj/
IdentityServerSample.BookingAdminPanel/wwwroot/lib/

IdentityServerSample.BookingAPI/bin
IdentityServerSample.BookingAPI/obj

IdentityServerSample.BookingAPI.TestClient/bin/
IdentityServerSample.BookingAPI.TestClient/obj/

IdentityServerSample.Shared/obj/
IdentityServerSample.Shared/bin/
IdentityServerSample.BookingAPI.Client/obj/
IdentityServerSample.BookingAPI.Client/bin/
IdentityServerSample.BookingAPI.Business.Contracts/bin/
IdentityServerSample.BookingAPI.Business.Contracts/obj/
IdentityServerSample.BookingAPI.Business/bin/
IdentityServerSample.BookingAPI.Business/obj/
IdentityServerSample.BookingAPI.Data.Contracts/bin/
IdentityServerSample.BookingAPI.Data.Contracts/obj/
IdentityServerSample.BookingAPI.Data/bin/
IdentityServerSample.BookingAPI.Data/obj/
IdentityServerSample.BookingAPI.EDM/bin/
IdentityServerSample.BookingAPI.EDM/obj/
*.user
IdentityServerSample.IdentityServer.AdminPanel/obj/
IdentityServerSample.IdentityServer.AdminPanel/bin/
IdentityServerSample.IdentityServer.AdminPanel/wwwroot/lib/
IdentityServerSample.IdentityServer.EDM/obj/
IdentityServerSample.IdentityServer.EDM/bin/
