.vs/
IdentityServerSample.IdentityServerHost/bin
IdentityServerSample.IdentityServerHost/obj
IdentityServerSample.IdentityServerHost/wwwroot/lib/

IdentityServerSample.BookingAdminPanel/bin/
IdentityServerSample.BookingAdminPanel/obj/
IdentityServerSample.BookingAdminPanel/wwwroot/lib/

IdentityServerSample.BookingAPI/bin
IdentityServerSample.BookingAPI/obj

IdentityServerSample.BookingAPI.TestClient/bin/
IdentityServerSample.BookingAPI.TestClient/obj/

IdentityServerSample.Shared/obj/
IdentityServerSample.Shared/bin/
IdentityServerSample.BookingAPI.Client/obj/
IdentityServerSample.BookingAPI.Client/bin/
