.vs/
IdentityServerSample.Host/bin
IdentityServerSample.Host/obj
IdentityServerSample.MVCApp/bin/
IdentityServerSample.MVCApp/obj/
IdentityServerSample.MVCApp/wwwroot/lib/
IndentityServerSample.Host/bin
IndentityServerSample.Host/obj
IndentityServerSample.Host/wwwroot/lib/
IdentityServerSample.Host/wwwroot/lib
IdentityServerSample.WebAPIApp/bin
IdentityServerSample.WebAPIApp/obj
IdentityServerSample.WebAPIApp.Client/bin/
IdentityServerSample.WebAPIApp.Client/obj/
IdentityServerSample.Shared/obj/
IdentityServerSample.Shared/bin/
