<div class="container">
    <div class="h3">It looks like you don't have a permission to view this page</div>
    <div>Would you like to <a asp-controller="Account" asp-action="Logout">log in as someone else</a>?</div>
</div>