@model List<IdentityServerSample.IdentityServer.AdminPanel.Data.Dtos.UserDto>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item container">
            <span class="pull-left">@user.Id - @user.UserName</span>
            <a asp-action="Edit" asp-controller="Users" asp-route-id="@user.Id" class="btn btn-default pull-right">Edit</a>
        </li>
    }
</ul>


