@model List<IdentityServerSample.IdentityServer.AdminPanel.Data.Dtos.UserDto>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<ul>
    @foreach (var user in Model)
    {
        <li>@user.UserName
            <ul>
                @foreach(var claim in user.Claims)
                {
                    <li>@claim.Type - @claim.Value</li>
                }
            </ul>
        </li>
    }
</ul>


